@import 'fonts.scss' ,'contact.scss' , 'breakpoints.scss', '_colors.scss','design.scss' , 'animation.scss', 'cursor.scss';
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}