$purple-primary:#9933ff;
$purple-secondery:#9966ff;
$purple-blue:#9999ff;
$blue-secondary:#99ccff;
$blue-primary:#99ffff;
.contact{

    height: 70vh;
    margin:5vh 2vw  ;
    border-radius: 20px;
}
.blur{
    height: 70vh;
    margin:5vh 2vw  ;
    border-radius: 20px;
    position: relative;
    z-index: -1;
    background: #99ccff;
}

.contact{
    &__content{
        position:relative;
        top:-70vh;
        margin:5vh 2vw  ;
    }
    h2{
        
    }
}
.LI-profile-badge-div{
    margin-left: 1.5vw !important;
}
