
.cursor {
    position:absolute;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    user-select: none;
    z-index: 10000;
    transform: scale(1);
    mix-blend-mode: difference;
    border:1px solid black;
    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hovered {
        opacity: 0.08;
    }
}
