@font-face {
  font-family: "Bigilla";
  src: local("Bigilla"), url(../font/Bigilla.21f3aec8.otf) format("otf");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(../font/Gilroy-ExtraBold.0f6e082f.otf) format("otf");
}

@font-face {
  font-family: "rubik";
  src: local("Gilroy"), url(../font/Rubik-Black.ttf) format("ttf");
}

/**
*
* Testing
*
**/
.svg svg {
  width: 100%;
  -webkit-transform: rotate(180deg) rotateY(180deg);
          transform: rotate(180deg) rotateY(180deg);
  margin: 0;
}

.svg svg .path-1 {
  -webkit-animation: path1 15s infinite;
          animation: path1 15s infinite;
}

@-webkit-keyframes path1 {
  0% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
  50% {
    d: path("M 0 112 C 191.5 112 191.5 146 383 146 L 383 146 L 383 0 L 0 0 Z");
  }
  100% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
}

@keyframes path1 {
  0% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
  50% {
    d: path("M 0 112 C 191.5 112 191.5 146 383 146 L 383 146 L 383 0 L 0 0 Z");
  }
  100% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
}

.svg svg .path-2 {
  -webkit-animation: path2 15s infinite;
          animation: path2 15s infinite;
}

@-webkit-keyframes path2 {
  0% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
  50% {
    d: path("M 382 146 C 540.5 146 540.5 81 699 81 L 699 81 L 699 0 L 382 0 Z");
  }
  100% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
}

@keyframes path2 {
  0% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
  50% {
    d: path("M 382 146 C 540.5 146 540.5 81 699 81 L 699 81 L 699 0 L 382 0 Z");
  }
  100% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
}

.svg svg .path-3 {
  -webkit-animation: path3 15s infinite;
          animation: path3 15s infinite;
}

@-webkit-keyframes path3 {
  0% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
  50% {
    d: path("M 698 81 C 841 81 841 152 984 152 L 984 152 L 984 0 L 698 0 Z");
  }
  100% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
}

@keyframes path3 {
  0% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
  50% {
    d: path("M 698 81 C 841 81 841 152 984 152 L 984 152 L 984 0 L 698 0 Z");
  }
  100% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
}

.svg svg .path-4 {
  -webkit-animation: path4 15s infinite;
          animation: path4 15s infinite;
}

@-webkit-keyframes path4 {
  0% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
  50% {
    d: path("M 983 152 C 1174.5 152 1174.5 123 1366 123 L 1366 123 L 1366 0 L 983 0 Z");
  }
  100% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
}

@keyframes path4 {
  0% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
  50% {
    d: path("M 983 152 C 1174.5 152 1174.5 123 1366 123 L 1366 123 L 1366 0 L 983 0 Z");
  }
  100% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
}

.bg-svg {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0;
  opacity: 80%;
  z-index: +5;
  position: relative;
  top: -352px;
}

.float {
  -webkit-animation: floating 3s ease infinite;
          animation: floating 3s ease infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
            filter: drop-shadow(0px 19px 14px #1532481f);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
            filter: drop-shadow(0px 19px 14px #1532481f);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.cursor {
  position: absolute;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
  mix-blend-mode: difference;
  border: 1px solid black;
}

.cursor.active {
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.hovered {
  opacity: 0.08;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background-color: #f8f8ff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d2d0d6;
  border-radius: 2px;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shape-one {
  width: 30px;
  height: 30px;
  top: 4%;
  right: 22%;
  position: absolute;
  -webkit-animation: animationFramesTwo 15s infinite linear;
          animation: animationFramesTwo 15s infinite linear;
  overflow: hidden;
  vertical-align: middle;
  z-index: 5;
}

.shape-2 {
  left: 5%;
  top: 62%;
  animation: animationFramesTwo 20s infinite ease reverse;
}

.shape-3 {
  right: 20%;
  top: 70%;
  width: 40px;
  height: 40px;
  animation: animationFramesTwo 10s infinite ease reverse;
}

.shape-4 {
  right: 20%;
  top: 80%;
  width: 20px;
  animation: animationFramesTwo 30s infinite ease-in-out reverse;
}

@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
            transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
            transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
            transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
            transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
            transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
            transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
            transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
            transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

header {
  opacity: 0.8;
  background: radial-gradient(circle at 49% 51%, #95b0f9, rgba(149, 176, 249, 0) 50%), radial-gradient(circle at 10% 10%, #99ffff, rgba(153, 255, 255, 0) 50%), radial-gradient(circle at 90% 10%, #9966ff, rgba(153, 102, 255, 0) 50%), radial-gradient(circle at 90% 90%, #99ffff, rgba(153, 255, 255, 0) 50%), radial-gradient(circle at 10% 90%, #9966ff, rgba(153, 102, 255, 0) 50%);
  height: 100vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 120px);
  padding: 50px 60px;
  color: white;
  position: absolute;
  z-index: 5555;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav .menu {
  letter-spacing: 2px;
}

header nav .menu a {
  margin-right: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header nav .menu a:hover {
  color: #4447b3;
}

header .title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .title .header-text {
  margin-left: 10vw;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

header .title .header-text::before {
  content: url(../img/white_stripes.svg);
  width: 11vw;
  position: absolute;
  left: 85px;
}

@media (min-width: 451px) and (max-width: 768px) {
  header .title .header-text h2 {
    font-size: 3rem;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  header .title .header-text h6 {
    font-size: 2rem;
  }
}

@media (min-width: 451px) and (max-width: 768px) {
  header .title .header-text h4 {
    font-size: 2rem;
  }
}

header .title .header-contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: 10vw;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

header .title .header-contact-icons a {
  text-decoration: none;
  color: white;
}

header .title h5 {
  color: white;
  margin-left: 10vw;
  padding-top: 10px;
}

header .title .div-animation {
  position: absolute;
  top: 16vh;
  right: 5rem;
  width: 35%;
}

header .title .av {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

header .title .av::before {
  content: "o";
  color: white;
}

header .title .big-stripes {
  position: absolute;
  width: 250px;
  z-index: 0;
  right: 0px;
  bottom: 0px;
  opacity: .7;
}

header .hero-cube {
  position: absolute;
  top: 28%;
  right: 6%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .hero-cube .hero-picture {
  width: 50%;
}

header .hero-cube-2 {
  position: absolute;
  top: 58%;
  right: -10%;
  z-index: 0;
}

header .hero-cube-2 .hero-picture-2 {
  width: 50%;
}

.hey {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0vw;
      grid-template-areas: ". .";
  color: #434246;
  height: 100vh;
  background: #f8f8ff;
  position: relative;
}

.hey .light_blue {
  color: #56a8c6;
  font-weight: bold;
}

.hey .img {
  padding: 2vw;
}

.hey .img .strips {
  position: relative;
  top: -23vh;
  width: 15vw;
  z-index: -55;
  left: 6vw;
}

.hey .img .cvImg {
  width: 23vw;
  position: relative;
  top: 26vh;
  z-index: 555;
}

.hey .txt {
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hey .txt h1 {
  padding-bottom: 20px;
  font-size: 4rem;
}

.hey .txt h1::before {
  content: url(../img/stripes.svg);
  position: relative;
  top: 122px;
  left: -80px;
  /* background-color: red; */
  z-index: -5;
}

.hey .txt p {
  width: 80%;
  font-weight: 200;
  font-size: 0.8em;
}

.hey .txt button {
  width: 40%;
  color: white;
  border: none;
  outline: none;
  height: 7vh;
  margin-top: 6vh;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#9933ff), color-stop(51%, #c490f8), to(#9933ff));
  background-image: linear-gradient(to right, #9933ff 0%, #c490f8 51%, #9933ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
}

.hey .txt button:hover {
  background-position: right center;
}

.hey .txt button a {
  text-decoration: none;
  color: white;
}

.mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  background: #f8f8ff;
  position: relative;
}

.mywork .strips {
  position: absolute;
  left: 20px;
  width: 200px;
  z-index: -1;
}

.mywork .topStrips {
  z-index: +66;
  left: auto;
  right: 150px;
  top: 300px;
  width: 130px;
}

.mywork .project {
  width: 400px;
  height: 400px;
  background-image: url(../img/mesh-works-small.png);
  background-position: initial;
  background-size: cover;
  border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: border 8s both infinite;
          animation: border 8s both infinite;
  -webkit-box-shadow: 0 10px 20px #32325d1a;
          box-shadow: 0 10px 20px #32325d1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mywork .project:hover {
  -webkit-box-shadow: 0 10px 30px #2d2d4a48;
          box-shadow: 0 10px 30px #2d2d4a48;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@-webkit-keyframes border {
  0% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
  50% {
    border-radius: 66% 34% 63% 37% / 71% 71% 29% 29%;
  }
  100% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
}

@keyframes border {
  0% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
  50% {
    border-radius: 66% 34% 63% 37% / 71% 71% 29% 29%;
  }
  100% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
}

.mywork .project .h3 {
  color: #434246;
  padding-bottom: 20px;
}

.mywork .project .p {
  width: 70%;
  color: #5E5C94;
  text-align: center;
  padding-bottom: 30px;
}

.mywork .project .btn {
  width: 40%;
  height: 6vh;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#9933ff), color-stop(51%, #c490f8), to(#9933ff));
  background-image: linear-gradient(to right, #9933ff 0%, #c490f8 51%, #9933ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
}

.mywork .project .btn:hover {
  background-position: right center;
}

.mywork .cv {
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: brdr 8s both infinite;
          animation: brdr 8s both infinite;
  -webkit-box-shadow: 0 10px 20px #32325d1a;
          box-shadow: 0 10px 20px #32325d1a;
}

.mywork .cv:hover {
  -webkit-box-shadow: 0 10px 30px #2d2d4a48;
          box-shadow: 0 10px 30px #2d2d4a48;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@-webkit-keyframes brdr {
  0% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
  50% {
    border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
  }
  100% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
}

@keyframes brdr {
  0% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
  50% {
    border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
  }
  100% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
}

.mywork .cv .h3 {
  color: #434246;
  padding-bottom: 20px;
}

.mywork .cv .p {
  width: 70%;
  color: #5E5C94;
  text-align: center;
  padding-bottom: 30px;
}

.mywork .cv .btn {
  width: 40%;
  height: 6vh;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#9933ff), color-stop(51%, #c490f8), to(#9933ff));
  background-image: linear-gradient(to right, #9933ff 0%, #c490f8 51%, #9933ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
}

.mywork .cv .btn:hover {
  background-position: right center;
}

.skills {
  height: 80vh;
  text-align: center;
  padding: 2vh;
  background-color: #f8f8ff;
  position: relative;
}

.skills__title {
  color: #434246;
  font-size: 4rem;
  margin: 1vh;
  font-weight: bold;
}

.skills__title::before {
  content: " . .   ";
  width: 50px;
  font-weight: 700;
  font-size: 4rem;
  color: #5E5C94;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
}

.skills__container-skill {
  width: 8vw;
  padding: 2% 3% 2% 3%;
  height: 17vh;
}

.skills__container .skills-img {
  width: 8vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.skills__container .skills-img:hover {
  -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
          filter: drop-shadow(0px 19px 14px #1532481f);
  -webkit-transform: translatey(-20px);
          transform: translatey(-20px);
}

.skills .circle {
  position: relative;
  z-index: 55;
  top: -134px;
  left: -20px;
}

.skills .circle:hover .html {
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}

.skills .circle:hover .css {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .js {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}

.skills .circle:hover .git {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .react {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}

.skills .circle:hover .veu {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .api {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .sass {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .jQuery {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .bootstrap {
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}

.skills .effect {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.experince {
  background-color: #f8f8ff;
}

.experince h1 {
  color: #434246;
  font-weight: bold;
  padding: 16vh 5vh 3vw 23vh;
  font-size: 3rem;
}

.experince .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10vw;
  background: url("../img/bg-shape.svg") center center/contain no-repeat;
  height: 100vh;
}

.experince .boxes .degrees {
  width: 40%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 8px 4px #4700493a;
          box-shadow: 1px 5px 8px 4px #4700493a;
  margin: 2vw;
  padding: 2vw;
  height: 60%;
}

.experince .boxes .element {
  color: #434246;
  padding: 4px 0vw;
}

.experince .boxes .element span {
  color: #D3D2E0;
  font-weight: 500;
  padding-left: 9px;
}

.experince .boxes .element .element-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experince .boxes .element .element-title img {
  padding-right: 5px;
}

.experince .boxes .element .border {
  border-left: 1.7px solid #9933ff;
  padding-left: 2vw;
  margin-left: 1vw;
  padding-bottom: 1.4vw;
}

.experince .boxes .element .border p {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: #5E5C94;
}

.experince .boxes .jobs {
  width: 40%;
  border-radius: 20px;
  background-color: white;
  background-color: white;
  -webkit-box-shadow: 1px 5px 8px 4px #4700493a;
          box-shadow: 1px 5px 8px 4px #4700493a;
  margin: 2vw;
  padding: 2vw;
  height: 60%;
}

.shape-img-div {
  position: absolute;
  width: 50vw;
  height: 0vh;
  z-index: 1;
  top: 13vw;
}

.shape-img-div img {
  width: 100%;
  position: absolute;
  width: 100%;
  top: 10vh;
  right: -79vw;
}

.recentWork {
  position: relative;
  background-color: #f8f8ff;
  position: relative;
  overflow-x: hidden;
}

.recentWork__title {
  padding: 8vh 0 9vh 12vw;
  font-size: 3rem;
  color: #434246;
  z-index: 6;
  position: relative;
}

.recentWork__dots {
  position: relative;
  z-index: 6;
  top: 101px;
  left: 140px;
  width: 30px;
  opacity: 20%;
}

.recentWork__dots-img {
  width: 40px;
}

.recentWork .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw 10vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 6;
  position: relative;
}

.recentWork .works .work {
  width: 23vw;
  height: 23vw;
  background: white;
  -webkit-box-shadow: 5px 5px 11px 0px #c5c5c5;
          box-shadow: 5px 5px 11px 0px #c5c5c5;
  margin: 1vw;
  border-radius: 10px;
  background: #fff url(../img/work.png) center center/contain no-repeat;
}

.recentWork .works :nth-child(1) {
  background: #fff url(../img/website-1.jpg) center center/contain no-repeat;
}

.recentWork .works :nth-child(2) {
  background: #fff url(../img/website-2.jpg) center center/contain no-repeat;
}

.recentWork .works :nth-child(3) {
  background: #fff url(../img/website-3.jpg) center center/contain no-repeat;
}

.recentWork .works :nth-child(4) {
  background: #fff url(../img/website-4.jpg) center center/contain no-repeat;
}

.recentWork .showMoreDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recentWork .showMoreDiv .showMore {
  text-align: center;
  border: none;
  outline: none;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#9933ff), color-stop(51%, #c490f8), to(#9933ff));
  background-image: linear-gradient(to right, #9933ff 0%, #c490f8 51%, #9933ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

.recentWork .showMoreDiv .showMore:hover {
  background-position: right center;
}

.footer {
  height: 40vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#99ccff), to(#9999ff));
  background: linear-gradient(to right, #99ccff, #9999ff);
  margin-top: -10px;
}

.sayHi {
  background-color: #f8f8ff;
  height: 100vh;
  padding: 2vw;
  position: relative;
}

.sayHi .aam-whatsapp-widget-popup {
  display: block;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 300px;
  -webkit-box-shadow: 0 0 20px 0 #0003;
          box-shadow: 0 0 20px 0 #0003;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 12vw;
}

.sayHi .aam-whatsapp-widget-title-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.sayHi .aam-whatsapp-widget-title {
  display: block;
  color: #fff;
  line-height: 20px;
  height: 20px;
  margin-left: 10px;
  font-size: 16px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sayHi .aam-whatsapp-widget-subtitle {
  display: block;
  color: #97bbb8;
  padding-left: 1px;
  line-height: 17px;
  height: 15px;
  margin-left: 10px;
  font-size: 12px;
  max-width: 220px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sayHi .aam-whatsapp-widget-chat-body {
  display: block;
  position: relative;
  background: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png) no-repeat center;
  background-size: 100% auto;
  width: calc(100% - 24px);
  min-height: 200px;
  padding: 12px;
}

.sayHi .aam-whatsapp-widget-head {
  display: block;
  position: relative;
  background: #22776b;
  color: #fff;
  height: 35px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 15px 10px;
}

.sayHi .aam-whatsapp-widget-message {
  display: block;
  background: #fff;
  border-radius: 4px;
  padding: 7px 10px;
  -webkit-box-shadow: 0px 1px 3px 0 #00000024;
          box-shadow: 0px 1px 3px 0 #00000024;
}

.sayHi .aam-whatsapp-widget-message::before {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border: 11px solid transparent;
  border-right-color: #ffffff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 1px;
  left: 7px;
}

.sayHi .aam-whatsapp-widget-message::after {
  content: "";
  display: table;
  clear: both;
}

.sayHi .aam-whatsapp-widget-message-time {
  display: inline-block;
  position: relative;
  float: right;
  font-size: 13px;
  color: #7f8d9a;
  top: 5px;
}

.sayHi .aam-whatsapp-widget-logo {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
}

.sayHi .aam-whatsapp-widget-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.sayHi .aam-whatsapp-widget-buttons-wrapper {
  display: block;
  /*height: 30px;*/
  padding: 10px;
}

.sayHi .aam-whatsapp-widget-start-chat-btn {
  display: block;
  background: #47e675;
  color: #fff;
  border-radius: 4px;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sayHi .aam-whatsapp-widget-start-chat-btn:hover {
  background: #3db961;
}

.sayHi a {
  text-decoration: none;
}

.sayHi .aam-whatsapp-widget-start-chat-btn svg {
  width: 20px;
  height: 20px;
  margin: 0px 5px -4px;
}

.sayHi .aam-whatsapp-widget-logo-wrapper {
  display: inline-block;
  position: relative;
}

.sayHi .aam-whatsapp-widget-logo-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #4ad506;
  bottom: 3px;
  right: 0px;
  -webkit-box-shadow: 0 0 2px 1px #00000026;
          box-shadow: 0 0 2px 1px #00000026;
}
/*# sourceMappingURL=style.css.map */