@charset "UTF-8";
@font-face {
  font-family: "rubik";
  src: local("Gilroy"), url(../font/Rubik-Black.ttf) format("ttf");
}

/**
*
* Testing
*
**/
.svg svg {
  position: absolute;
  bottom: 20vh;
  width: 100%;
  -webkit-transform: rotate(180deg) rotateY(180deg);
          transform: rotate(180deg) rotateY(180deg);
  margin: 0;
}

.svg svg .path-1 {
  -webkit-animation: path1 10s infinite;
          animation: path1 10s infinite;
}

@-webkit-keyframes path1 {
  0% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
  50% {
    d: path("M 0 112 C 191.5 112 191.5 146 383 146 L 383 146 L 383 0 L 0 0 Z");
  }
  100% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
}

@keyframes path1 {
  0% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
  50% {
    d: path("M 0 112 C 191.5 112 191.5 146 383 146 L 383 146 L 383 0 L 0 0 Z");
  }
  100% {
    d: path("M 0 29 C 192 29 192 90 384 90 L 384 90 L 384 0 L 0 0 Z");
  }
}

.svg svg .path-2 {
  -webkit-animation: path2 10s infinite;
          animation: path2 10s infinite;
}

@-webkit-keyframes path2 {
  0% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
  50% {
    d: path("M 382 146 C 540.5 146 540.5 81 699 81 L 699 81 L 699 0 L 382 0 Z");
  }
  100% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
}

@keyframes path2 {
  0% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
  50% {
    d: path("M 382 146 C 540.5 146 540.5 81 699 81 L 699 81 L 699 0 L 382 0 Z");
  }
  100% {
    d: path("M 383 90 C 571 90 571 135 759 135 L 759 135 L 759 0 L 383 0 Z");
  }
}

.svg svg .path-3 {
  -webkit-animation: path3 10s infinite;
          animation: path3 10s infinite;
}

@-webkit-keyframes path3 {
  0% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
  50% {
    d: path("M 698 81 C 841 81 841 152 984 152 L 984 152 L 984 0 L 698 0 Z");
  }
  100% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
}

@keyframes path3 {
  0% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
  50% {
    d: path("M 698 81 C 841 81 841 152 984 152 L 984 152 L 984 0 L 698 0 Z");
  }
  100% {
    d: path("M 758 135 C 917 135 917 119 1076 119 L 1076 119 L 1076 0 L 758 0 Z");
  }
}

.svg svg .path-4 {
  -webkit-animation: path4 10s infinite;
          animation: path4 10s infinite;
}

@-webkit-keyframes path4 {
  0% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
  50% {
    d: path("M 983 152 C 1174.5 152 1174.5 123 1366 123 L 1366 123 L 1366 0 L 983 0 Z");
  }
  100% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
}

@keyframes path4 {
  0% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
  50% {
    d: path("M 983 152 C 1174.5 152 1174.5 123 1366 123 L 1366 123 L 1366 0 L 983 0 Z");
  }
  100% {
    d: path("M 1075 119 C 1220.5 119 1220.5 200 1366 200 L 1366 200 L 1366 0 L 1075 0 Z");
  }
}

.bg-svg {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0;
  opacity: 80%;
  z-index: +5;
  position: absolute;
  bottom: 0px;
}

.footer-motion {
  position: relative;
  background: #f8f8ff;
}

.footer {
  height: 21vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#99ccff), to(#9999ff));
  background: linear-gradient(to right, #99ccff, #9999ff);
  margin-top: -10px;
}

.header_motion {
  position: relative;
  position: relative;
  height: 0vh;
  top: 60vh;
}

.header_motion svg {
  background: #f6f3ff;
}

.header_svg {
  -webkit-clip-path: url(#svgPath);
          clip-path: url(#svgPath);
  position: absolute;
  bottom: -40vh;
  opacity: 100%;
  mix-blend-mode: screen;
  background: ghostwhite;
}

.toggle {
  display: block;
  text-align: center;
  margin-top: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle--checkbox {
  display: none;
}

.toggle--btn {
  display: block;
  margin: 0 auto;
  font-size: 1.4em;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}

.toggle--btn:hover {
  cursor: pointer;
}

.toggle--btn, .toggle--btn:before, .toggle--btn:after,
.toggle--checkbox,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature,
.toggle--feature:before,
.toggle--feature:after {
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.toggle--btn:before, .toggle--btn:after,
.toggle--checkbox:before,
.toggle--checkbox:after,
.toggle--feature:before,
.toggle--feature:after {
  content: '';
  display: block;
}

/* ===================================================
   Day/Night and Gender toggle buttons
   =================================================== */
.toggle--daynight,
.toggle--like {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (max-width: 900px) {
  .toggle--daynight,
  .toggle--like {
    display: none;
  }
}

.toggle--daynight .toggle--btn,
.toggle--like .toggle--btn {
  position: fixed;
  top: -12rem;
  right: -21rem;
  height: 70px;
  width: 125px;
  border-radius: 70px;
}

.toggle--daynight .toggle--btn:before,
.toggle--like .toggle--btn:before {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.toggle--daynight .toggle--btn {
  border: 5px solid #1c1c1c;
  background-color: #3c4145;
}

.toggle--daynight .toggle--btn:before {
  background-color: #fff;
  border: 5px solid #e3e3c7;
}

.toggle--daynight .toggle--btn:after {
  position: absolute;
  top: 62%;
  left: 39px;
  z-index: 10;
  width: 11.2px;
  height: 11.2px;
  opacity: 0;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: #fff 0 0, #fff 3px 0, #fff 6px 0, #fff 9px 0, #fff 11px 0, #fff 14px 0, #fff 16px 0, #fff 21px -1px 0 1px, #fff 16px -7px 0 -2px, #fff 7px -7px 0 1px, #d3d3d3 0 0 0 4px, #d3d3d3 6px 0 0 4px, #d3d3d3 11px 0 0 4px, #d3d3d3 16px 0 0 4px, #d3d3d3 21px -1px 0 5px, #d3d3d3 16px -7px 0 1px, #d3d3d3 7px -7px 0 5px;
          box-shadow: #fff 0 0, #fff 3px 0, #fff 6px 0, #fff 9px 0, #fff 11px 0, #fff 14px 0, #fff 16px 0, #fff 21px -1px 0 1px, #fff 16px -7px 0 -2px, #fff 7px -7px 0 1px, #d3d3d3 0 0 0 4px, #d3d3d3 6px 0 0 4px, #d3d3d3 11px 0 0 4px, #d3d3d3 16px 0 0 4px, #d3d3d3 21px -1px 0 5px, #d3d3d3 16px -7px 0 1px, #d3d3d3 7px -7px 0 5px;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

@-webkit-keyframes starry_star {
  50% {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
            box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
  }
}

@keyframes starry_star {
  50% {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
            box-shadow: #fff 30px -3px 0 0, #fff 12px 10px 0 -1px, rgba(255, 255, 255, 0.1) 38px 18px 0 1px, #fff 32px 34px 0 0, rgba(255, 255, 255, 0.1) 20px 24px 0 -1.5px, #fff 5px 38px 0 1px;
  }
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 100;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 100;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 100;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.toggle--daynight .toggle--feature {
  display: block;
  position: absolute;
  top: 9px;
  left: 52.5%;
  z-index: 20;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 0, rgba(255, 255, 255, 0.1) 12px 10px 0 -1px, #fff 38px 18px 0 1px, rgba(255, 255, 255, 0.1) 32px 34px 0 0, #fff 20px 24px 0 -1.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 1px;
          box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 0, rgba(255, 255, 255, 0.1) 12px 10px 0 -1px, #fff 38px 18px 0 1px, rgba(255, 255, 255, 0.1) 32px 34px 0 0, #fff 20px 24px 0 -1.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 1px;
  -webkit-animation: starry_star 5s ease-in-out infinite;
          animation: starry_star 5s ease-in-out infinite;
}

.toggle--daynight .toggle--feature:before {
  position: absolute;
  top: -2px;
  left: -25px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #e3e3c7;
  -webkit-box-shadow: #e3e3c7 -28px 0 0 -3px, #e3e3c7 -8px 24px 0 -2px;
          box-shadow: #e3e3c7 -28px 0 0 -3px, #e3e3c7 -8px 24px 0 -2px;
  -webkit-transform-origin: -6px 130%;
          transform-origin: -6px 130%;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn {
  background-color: #9ee3fb;
  border: 5px solid #86c3d7;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn:before {
  left: 55px;
  background-color: #ffdf6d;
  border: 5px solid #e1c348;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn:after {
  opacity: 100;
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 0.60s;
          animation-duration: 0.60s;
  -webkit-animation-delay: 0.10s;
          animation-delay: 0.10s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature {
  opacity: 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 -4px, rgba(255, 255, 255, 0.1) 12px 10px 0 -5px, #fff 38px 18px 0 -3px, rgba(255, 255, 255, 0.1) 32px 34px 0 -4px, #fff 20px 24px 0 -5.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 -3px;
          box-shadow: rgba(255, 255, 255, 0.1) 30px -3px 0 -4px, rgba(255, 255, 255, 0.1) 12px 10px 0 -5px, #fff 38px 18px 0 -3px, rgba(255, 255, 255, 0.1) 32px 34px 0 -4px, #fff 20px 24px 0 -5.5px, rgba(255, 255, 255, 0.1) 5px 38px 0 -3px;
  -webkit-animation: none;
          animation: none;
}

.toggle--daynight .toggle--checkbox:checked + .toggle--btn > .toggle--feature:before {
  left: 25px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.float {
  -webkit-animation: floating 3s ease infinite;
          animation: floating 3s ease infinite;
}

@-webkit-keyframes floating {
  0% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
            filter: drop-shadow(0px 19px 14px #1532481f);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes floating {
  0% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
            filter: drop-shadow(0px 19px 14px #1532481f);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-filter: drop-shadow(0px 19px 4px #1532481f);
            filter: drop-shadow(0px 19px 4px #1532481f);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.cursor {
  position: fixed;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 9999999999;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 900px) {
  .cursor {
    display: none;
  }
}

.cursor.active {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.scale {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.menu-active {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

@media (max-width: 900px) {
  .cursor-follower {
    display: none;
  }
}

.cursor-follower.active {
  opacity: 1;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.cursor-follower.scale {
  opacity: 1;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cursor-follower.menu-active {
  opacity: 1;
  -webkit-transform: scale(3);
          transform: scale(3);
  background-color: black;
  mix-blend-mode: lighten;
  opacity: 50%;
}

.cursor-follower.hovered {
  opacity: 1;
}

.cursor-follower.icon {
  -webkit-transform: scale(3);
          transform: scale(3);
  opacity: 1;
}

.heyIcon::before {
  background-size: 80px;
  display: inline-block;
  width: 80px;
  z-index: 8888888;
  height: 80px;
  content: "👋";
  position: relative;
  top: -20px;
  font-size: 3rem;
  left: -20px;
}

.mySkillsIcon::before {
  background-image: url(../img/cursor.gif);
  background-size: 200px;
  display: inline-block;
  width: 200px;
  z-index: -1;
  height: 200px;
  content: "";
  position: relative;
  top: -100px;
  font-size: 3rem;
  left: -100px;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.experIcon::before {
  background-image: url(../img/experience.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 400px;
  z-index: -1;
  height: 400px;
  content: "";
  position: relative;
  top: -150px;
  font-size: 3rem;
  left: -150px;
  border-radius: 50%;
  mix-blend-mode: difference;
}

.border {
  border: none;
}

.emailIcon::before {
  background-image: url(../img/emailGif.gif);
  background-size: 200px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  z-index: -1;
  height: 200px;
  content: "";
  position: relative;
  top: -100px;
  font-size: 3rem;
  left: -100px;
  border-radius: 50%;
  mix-blend-mode: difference;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: all .5s;
  transition: all .5s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #f8f8ff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d2d0d6;
  border-radius: 2px;
}

.darkMode::-webkit-scrollbar-track {
  background-color: #18191a !important;
}

.darkMode header, .darkMode .hey, .darkMode .mywork, .darkMode .skills, .darkMode .experince, .darkMode .recentWork, .darkMode .sayHi {
  background: #18191a;
  color: #FFF;
}

.darkMode header h1, .darkMode .hey h1, .darkMode .mywork h1, .darkMode .skills h1, .darkMode .experince h1, .darkMode .recentWork h1, .darkMode .sayHi h1 {
  color: #99ffff;
}

.darkMode .header_motion svg {
  background: transparent !important;
}

.darkMode .menu a {
  color: #99ffff !important;
}

.darkMode .menu a:hover {
  color: #99ffff !important;
}

.darkMode .box {
  background: #3D3D3D !important;
}

.darkMode .box h3 {
  color: #FFF !important;
}

.darkMode .box p {
  color: #99ffff !important;
}

.darkMode .cursor {
  background: #FFF;
}

.darkMode .cursor-follower {
  border-color: #FFF;
  background: transparent;
}

.darkMode .degrees, .darkMode .jobs {
  background-color: #3D3D3D !important;
}

.darkMode .degrees h5, .darkMode .degrees h4, .darkMode .jobs h5, .darkMode .jobs h4 {
  color: #FFF;
}

.darkMode .degrees p, .darkMode .jobs p {
  color: #99ffff !important;
}

.darkMode .recentWork .work {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.darkMode .sayHi input, .darkMode .sayHi textarea {
  background: #212121 !important;
  color: #FFF !important;
}

.darkMode .sayHi input::-webkit-input-placeholder, .darkMode .sayHi textarea::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

.darkMode .sayHi input:-ms-input-placeholder, .darkMode .sayHi textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

.darkMode .sayHi input::-ms-input-placeholder, .darkMode .sayHi textarea::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

.darkMode .sayHi input::placeholder, .darkMode .sayHi textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1;
  /* Firefox */
}

.darkMode .sayHi h3, .darkMode .sayHi p {
  color: #FFF !important;
}

.darkMode .sayHi .btn {
  background: #99ffff !important;
  color: #18191a !important;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999999;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shape-one {
  width: 30px;
  height: 30px;
  top: 4%;
  right: 22%;
  position: absolute;
  -webkit-animation: animationFramesTwo 15s infinite linear;
          animation: animationFramesTwo 15s infinite linear;
  overflow: hidden;
  vertical-align: middle;
  z-index: 5;
}

@media (max-width: 899px) {
  .shape-one {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

.shape-2 {
  left: 5%;
  top: 62%;
  animation: animationFramesTwo 20s infinite ease reverse;
}

@media (max-width: 899px) {
  .shape-2 {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

.shape-3 {
  right: 20%;
  top: 40%;
  width: 40px;
  height: 40px;
  animation: animationFramesTwo 10s infinite ease reverse;
}

@media (max-width: 899px) {
  .shape-3 {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

.shape-4 {
  right: 20%;
  top: 80%;
  width: 20px;
  animation: animationFramesTwo 30s infinite ease-in-out reverse;
}

@media (max-width: 899px) {
  .shape-4 {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
            transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
            transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
            transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
            transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg) scale(0.9);
            transform: translate(73px, -1px) rotate(36deg) scale(0.9);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg) scale(1);
            transform: translate(141px, 72px) rotate(72deg) scale(1);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg) scale(1.2);
            transform: translate(83px, 122px) rotate(108deg) scale(1.2);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
            transform: translate(-40px, 72px) rotate(144deg) scale(1.1);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg) scale(1);
            transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

header {
  opacity: 0.8;
  height: 120vh;
  background: ghostwhite;
  background: radial-gradient(circle at 49% 51%, #95b0f9, rgba(149, 176, 249, 0) 50%), radial-gradient(circle at 10% 10%, #99ffff, rgba(153, 255, 255, 0) 50%), radial-gradient(circle at 90% 10%, #9966ff, rgba(153, 102, 255, 0) 50%), radial-gradient(circle at 90% 90%, #99ffff, rgba(153, 255, 255, 0) 50%), radial-gradient(circle at 10% 90%, #9966ff, rgba(153, 102, 255, 0) 50%);
}

header section {
  height: 70%;
}

header section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 60px;
  color: white;
  position: absolute;
  z-index: 5555;
  width: 90%;
}

@media (max-width: 449px) {
  header section nav {
    display: none;
  }
  header section nav .toggle {
    display: block !important;
  }
}

header section nav a {
  color: white;
  text-decoration: none;
}

header section nav .menu {
  letter-spacing: 2px;
}

header section nav .menu a {
  margin-right: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header section nav .menu a:hover {
  color: #4447b3;
}

header section .title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header section .title .header-text {
  margin-left: 10vw;
  color: white;
  font-size: 4rem;
  font-weight: 700;
}

@media (max-width: 449px) {
  header section .title .header-text {
    font-size: 2rem;
  }
}

header section .title .header-text::before {
  content: url(../img/white_stripes.svg);
  width: 11vw;
  position: absolute;
  left: 85px;
}

@media (min-width: 451px) and (max-width: 900px) {
  header section .title .header-text h2 {
    font-size: 3rem;
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  header section .title .header-text h6 {
    font-size: 2rem;
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  header section .title .header-text h4 {
    font-size: 2rem;
  }
}

header section .title .header-contact-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: 10vw;
  padding-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
}

header section .title .header-contact-icons a {
  text-decoration: none;
  color: white;
}

header section .title .header-contact-icons a img {
  cursor: pointer;
}

@media (max-width: 899px) {
  header section .title .header-contact-icons a img {
    margin-inline: 1rem;
  }
}

header section .title h5 {
  color: white;
  margin-left: 10vw;
  padding-top: 10px;
}

header section .title .div-animation {
  position: absolute;
  top: 16vh;
  right: 5rem;
  width: 35%;
  width: 500px !important;
}

@media (min-width: 451px) and (max-width: 900px) {
  header section .title .div-animation {
    width: 50vw !important;
  }
}

@media (max-width: 449px) {
  header section .title .div-animation {
    position: relative;
    width: 100vw !important;
    top: -1vh;
    right: 0px;
    width: 90%;
  }
}

header section .title .av {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 4vw;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

header section .title .av::before {
  content: "o";
  color: white;
}

header section .title .big-stripes {
  position: absolute;
  width: 250px;
  z-index: 0;
  right: 0px;
  bottom: 0px;
  opacity: .7;
}

header section .hero-cube {
  position: absolute;
  top: 28%;
  right: 6%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header section .hero-cube .hero-picture {
  width: 50%;
}

header section .hero-cube-2 {
  position: absolute;
  top: 58%;
  right: -10%;
  z-index: 0;
}

header section .hero-cube-2 .hero-picture-2 {
  width: 50%;
}

.hey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #434246;
  height: 100vh;
  background: #f8f8ff;
  position: relative;
}

@media (max-width: 899px) {
  .hey {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hey .light_blue {
  color: #56a8c6;
  font-weight: bold;
}

.hey .img {
  padding: 2vw;
  width: 50%;
}

@media (max-width: 449px) {
  .hey .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-item: center;
    width: 100%;
    height: 80%;
  }
}

.hey .img .strips {
  position: relative;
  top: -23vh;
  width: 15vw;
  z-index: -55;
  left: 6vw;
}

@media (max-width: 449px) {
  .hey .img .strips {
    display: none;
  }
}

.hey .img .cvImg {
  width: 23vw;
  position: relative;
  top: 26vh;
  z-index: 555;
}

@media (max-width: 449px) {
  .hey .img .cvImg {
    width: 60vw;
    top: initial;
  }
}

.hey .txt {
  padding: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 449px) {
  .hey .txt {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hey .txt h1 {
  padding-bottom: 20px;
  font-size: 4rem;
}

.hey .txt h1::before {
  content: url(../img/stripes.svg);
  position: relative;
  top: 122px;
  left: -80px;
  /* background-color: red; */
  z-index: -5;
}

.hey .txt p {
  width: 80%;
  font-weight: 200;
  font-size: 0.8em;
}

.hey .txt button {
  width: 40%;
  color: white;
  border: none;
  outline: none;
  height: 7vh;
  margin-top: 6vh;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, right top, from(#9999ff), color-stop(51%, #bdbdfa), to(#9999ff));
  background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
}

.hey .txt button:hover {
  background-position: right center;
}

.hey .txt button a {
  text-decoration: none;
  color: white;
}

@media (min-width: 451px) and (max-width: 900px) {
  .hey .txt button {
    font-size: x-small;
  }
}

@media (max-width: 449px) {
  .hey .txt button {
    font-size: 11px;
  }
}

.mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 70vh;
  background: #f8f8ff;
  position: relative;
}

@media (max-width: 449px) {
  .mywork {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }
}

.mywork .strips {
  position: absolute;
  left: 20px;
  width: 200px;
  z-index: -1;
}

.mywork .topStrips {
  z-index: +66;
  left: auto;
  right: 150px;
  top: 300px;
  width: 130px;
}

.mywork .project {
  width: 400px;
  height: 400px;
  background-image: url(../img/mesh-works-small.png);
  background-position: initial;
  background-size: cover;
  border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: border 8s both infinite;
          animation: border 8s both infinite;
  -webkit-box-shadow: 0 10px 20px #32325d1a;
          box-shadow: 0 10px 20px #32325d1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 899px) {
  .mywork .project {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

.mywork .project:hover {
  -webkit-box-shadow: 0 10px 30px #2d2d4a48;
          box-shadow: 0 10px 30px #2d2d4a48;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@-webkit-keyframes border {
  0% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
  50% {
    border-radius: 66% 34% 63% 37% / 71% 71% 29% 29%;
  }
  100% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
}

@keyframes border {
  0% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
  50% {
    border-radius: 66% 34% 63% 37% / 71% 71% 29% 29%;
  }
  100% {
    border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .project {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 449px) {
  .mywork .project {
    width: 80vw;
    height: 80vw;
    margin-block: 4vh;
  }
}

.mywork .project .h3 {
  color: #434246;
  padding-bottom: 20px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .project .h3 {
    font-size: small;
  }
}

.mywork .project .p {
  width: 70%;
  color: #5E5C94;
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .project .p {
    font-size: small;
  }
}

.mywork .project .btn {
  width: 40%;
  height: 6vh;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#9999ff), color-stop(51%, #bdbdfa), to(#9999ff));
  background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
  font-size: 0.8rem;
}

.mywork .project .btn:hover {
  background-position: right center;
}

.mywork .project .btn a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .project .btn {
    font-size: x-small;
  }
}

@media (max-width: 449px) {
  .mywork .project .btn {
    font-size: 0.8rem;
  }
}

.mywork .cv {
  width: 400px;
  height: 400px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: brdr 8s both infinite;
          animation: brdr 8s both infinite;
  -webkit-box-shadow: 0 10px 20px #32325d1a;
          box-shadow: 0 10px 20px #32325d1a;
}

@media (max-width: 899px) {
  .mywork .cv {
    -webkit-animation: none;
            animation: none;
    -webkit-transition: none;
    transition: none;
  }
}

.mywork .cv a {
  text-decoration: none;
  color: #fff;
}

.mywork .cv:hover {
  -webkit-box-shadow: 0 10px 30px #2d2d4a48;
          box-shadow: 0 10px 30px #2d2d4a48;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .cv {
    width: 40vw;
    height: 40vw;
  }
}

@media (max-width: 449px) {
  .mywork .cv {
    width: 80vw;
    height: 80vw;
    margin-block: 4vh;
  }
}

@-webkit-keyframes brdr {
  0% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
  50% {
    border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
  }
  100% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
}

@keyframes brdr {
  0% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
  50% {
    border-radius: 60% 40% 64% 36% / 40% 59% 41% 60%;
  }
  100% {
    border-radius: 40% 60% 19% 81% / 54% 25% 75% 46%;
  }
}

.mywork .cv .h3 {
  color: #434246;
  padding-bottom: 20px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .cv .h3 {
    font-size: small;
  }
}

.mywork .cv .p {
  width: 70%;
  color: #5E5C94;
  text-align: center;
  padding-bottom: 30px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .cv .p {
    font-size: small;
  }
}

.mywork .cv .btn {
  width: 40%;
  height: 6vh;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, right top, from(#9999ff), color-stop(51%, #bdbdfa), to(#9999ff));
  background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  -ms-flex-direction: row;
      flex-direction: row;
  cursor: pointer;
}

.mywork .cv .btn:hover {
  background-position: right center;
}

@media (min-width: 451px) and (max-width: 900px) {
  .mywork .cv .btn {
    font-size: x-small;
  }
}

@media (max-width: 449px) {
  .mywork .cv .btn {
    font-size: 0.8rem;
  }
}

.skills {
  height: 80vh;
  text-align: center;
  padding: 2vh;
  background-color: #f8f8ff;
  position: relative;
}

@media (max-width: 449px) {
  .skills {
    height: initial;
  }
}

.skills__dots {
  left: 151px !important;
  top: 93px !important;
}

@media (max-width: 449px) {
  .skills__dots {
    left: 20px;
  }
}

.skills__title {
  color: #434246;
  left: 8vw;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
}

.skills__title:hover {
  color: white;
  z-index: 9461364979;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2%;
}

.skills__container-skill {
  width: 8vw;
  padding: 2% 3% 2% 3%;
  height: 17vh;
}

@media (max-width: 449px) {
  .skills__container-skill {
    width: 17vw;
  }
}

.skills__container .skills-img {
  width: 8vw;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.skills__container .skills-img:hover {
  -webkit-filter: drop-shadow(0px 19px 14px #1532481f);
          filter: drop-shadow(0px 19px 14px #1532481f);
  -webkit-transform: translatey(-20px);
          transform: translatey(-20px);
}

@media (max-width: 449px) {
  .skills__container .skills-img {
    width: 100%;
  }
}

.skills .circle {
  position: relative;
  z-index: 55;
  top: -134px;
  left: -20px;
}

@media (min-width: 1440px) {
  .skills .circle {
    top: -141px;
    left: -14px;
  }
}

@media (max-width: 900px) {
  .skills .circle {
    display: none;
  }
}

.skills .circle:hover .html {
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}

.skills .circle:hover .css {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .js {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}

.skills .circle:hover .git {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .react {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
}

.skills .circle:hover .veu {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .api {
  stroke-dasharray: 220;
  stroke-dashoffset: 0;
}

.skills .circle:hover .sass {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .jQuery {
  stroke-dasharray: 350;
  stroke-dashoffset: 0;
}

.skills .circle:hover .bootstrap {
  stroke-dasharray: 400;
  stroke-dashoffset: 0;
}

.skills .effect {
  stroke-dasharray: 630;
  stroke-dashoffset: 630;
  -webkit-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
}

.experince {
  background-color: #f8f8ff;
}

.experince h1 {
  color: #434246;
  font-weight: bold;
  padding: 16vh 5vh 3vw 23vh;
  font-size: 3rem;
}

@media (max-width: 449px) {
  .experince h1 {
    padding: 17vh 8vh 3vw 6vh;
  }
}

.experince .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10vw;
  background: url("../img/bg-shape.svg") center center/contain no-repeat;
  height: 100vh;
}

@media (max-width: 449px) {
  .experince .boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: initial;
  }
}

.experince .boxes .degrees {
  width: 40%;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 1px 5px 8px 4px #4700493a;
          box-shadow: 1px 5px 8px 4px #4700493a;
  margin: 2vw;
  padding: 2vw;
  height: 50%;
}

@media (max-width: 449px) {
  .experince .boxes .degrees {
    width: 88%;
  }
}

.experince .boxes .element {
  color: #434246;
  padding: 4px 0vw;
}

.experince .boxes .element span {
  color: #D3D2E0;
  font-weight: 500;
  padding-left: 22px;
}

.experince .boxes .element .element-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experince .boxes .element .element-title img {
  padding-right: 5px;
}

@media (max-width: 449px) {
  .experince .boxes .element .element-title img {
    margin-right: 5px;
    width: 15px;
  }
}

.experince .boxes .element .border {
  border-left: 1.7px solid #9933ff;
  padding-left: 3vw;
  margin-left: 1vw;
  padding-bottom: 1.4vw;
}

@media (max-width: 449px) {
  .experince .boxes .element .border {
    padding-left: 20px;
  }
}

.experince .boxes .element .border p {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: #5E5C94;
}

.experince .boxes .jobs {
  width: 40%;
  border-radius: 20px;
  background-color: white;
  background-color: white;
  -webkit-box-shadow: 1px 5px 8px 4px #4700493a;
          box-shadow: 1px 5px 8px 4px #4700493a;
  margin: 2vw;
  padding: 2vw;
  height: 50%;
}

@media (max-width: 449px) {
  .experince .boxes .jobs {
    width: 88%;
  }
}

.shape-img-div {
  position: absolute;
  width: 50vw;
  height: 0vh;
  z-index: 1;
  top: 13vw;
}

.shape-img-div img {
  width: 100%;
  position: absolute;
  width: 100%;
  top: 10vh;
  right: -79vw;
}

.recentWork {
  position: relative;
  background-color: #f8f8ff;
  position: relative;
  overflow-x: hidden;
}

.recentWork .rec_title {
  left: 6vw;
  top: 14px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .recentWork .rec_title {
    left: 9vw;
    top: 18px;
  }
}

.recentWork .rec__dots {
  top: 100px;
  left: 122px;
}

.recentWork__title {
  padding: 8vh 0 9vh 5vw;
  font-size: 3rem;
  color: #434246;
  z-index: 6;
  position: relative;
}

.recentWork__dots {
  position: relative;
  z-index: 6;
  top: 14px;
  left: 133px;
  width: 30px;
  opacity: 20%;
}

@media (max-width: 449px) {
  .recentWork__dots {
    left: 20px;
  }
}

.recentWork__dots-img {
  width: 40px;
}

.recentWork .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw 10vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 6;
  position: relative;
}

.recentWork .works .work {
  width: 23vw;
  height: 23vw;
  background: white;
  -webkit-box-shadow: 5px 5px 11px 0px #c5c5c5;
          box-shadow: 5px 5px 11px 0px #c5c5c5;
  margin: 1vw;
  border-radius: 10px;
  background: #fff url(../img/work.png) center center/contain no-repeat;
}

@media (max-width: 449px) {
  .recentWork .works .work {
    width: 80vw;
    height: 80vw;
    margin-block: 2rem;
  }
}

.recentWork .works :nth-child(1) {
  background: #fff url(../img/work01.png) center center/contain no-repeat;
}

.recentWork .works :nth-child(2) {
  background: #fff url(../img/work02.png) center center/contain no-repeat;
}

.recentWork .works :nth-child(3) {
  background: #fff url(../img/work03.png) center center/contain no-repeat;
}

.recentWork .works :nth-child(4) {
  background: #fff url(../img/work04.png) center center/contain no-repeat;
}

.recentWork .showMoreDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recentWork .showMoreDiv .showMore {
  text-align: center;
  border: none;
  outline: none;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#9999ff), color-stop(51%, #bdbdfa), to(#9999ff));
  background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .recentWork .showMoreDiv .showMore {
    font-size: x-small;
  }
}

.recentWork .showMoreDiv .showMore:hover {
  background-position: right center;
}

.sayHi {
  background-color: #f8f8ff;
  height: 100vh;
  padding: 2vw;
  position: relative;
}

.sayHi .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw;
  padding-left: 10vw;
}

@media (min-width: 451px) and (max-width: 900px) {
  .sayHi .container {
    padding-left: 0px;
  }
}

@media (max-width: 449px) {
  .sayHi .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0vw;
  }
}

.sayHi .container .text {
  width: 20vw;
  padding-top: 3rem;
}

@media (min-width: 451px) and (max-width: 900px) {
  .sayHi .container .text {
    width: 40vw;
  }
}

@media (max-width: 449px) {
  .sayHi .container .text {
    width: 100vw;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}

.sayHi .container .text h3 {
  color: #434246;
}

.sayHi .container .text p {
  color: #434246;
}

.sayHi .container .text p a {
  color: #9933ff;
  text-decoration: none;
}

.sayHi .container .form {
  width: 65vw;
  position: relative;
  z-index: 888;
  padding-left: 4vw;
}

.sayHi .container .form input, .sayHi .container .form textarea {
  width: 18.4vw;
  font-size: 1rem;
  height: 7vh;
  margin: 1vw;
  background: white;
  color: #939199;
  border-radius: 50px;
  padding: 2px;
  padding-left: 25px;
  -webkit-box-shadow: 1px 1px 10px 1px #b7b6b62e;
          box-shadow: 1px 1px 10px 1px #b7b6b62e;
  border: none;
}

@media (max-width: 449px) {
  .sayHi .container .form input, .sayHi .container .form textarea {
    width: 70vw;
  }
}

.sayHi .container .form input:focus-visible, .sayHi .container .form textarea:focus-visible {
  border: none;
  outline: none;
}

.sayHi .container .form textarea {
  padding-top: 1rem;
}

.sayHi .container .form .Subject, .sayHi .container .form .message {
  width: 65%;
}

@media (min-width: 451px) and (max-width: 900px) {
  .sayHi .container .form .Subject, .sayHi .container .form .message {
    width: 44vw;
  }
}

@media (max-width: 899px) {
  .sayHi .container .form .Subject, .sayHi .container .form .message {
    width: 70%;
  }
}

.sayHi .container .form .message {
  height: 20vh;
  border-radius: 20px;
}

.sayHi .container .form .btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#9999ff), color-stop(51%, #bdbdfa), to(#9999ff));
  background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  padding-left: initial;
}

.sayHi .container .form .btn:hover {
  background-position: right center;
}

.sayHi .getInTouch_title {
  padding: 0vh 0 6vh 12vw;
}

.sayHi .getInTouch__dots {
  top: 36px;
  left: 136px;
}
/*# sourceMappingURL=style.css.map */