@import '_variable.scss';
$i:10;
*{
    margin: 0;
    padding:  0;
    font-family: 'Rubik', sans-serif;
    cursor:none;    
    transition:all .5s;    

}

html{
    scroll-behavior: smooth;
    overflow-x:hidden;

}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar-track{
	background-color: $ghost-color;
}
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-thumb{
	background-color: $purple-secondery;
    border-radius: 2px;
}
//dark mode
.darkMode{
    &::-webkit-scrollbar-track{
        background-color: $background !important;
    }
    header , .hey ,.mywork,.skills,.experince,.recentWork,.sayHi {
        background:$background;
        color:$primary-text;
        h1{
            color:$blue-secondary;
        }
    }
    .header_motion{
        svg{
            background:transparent !important;
        }
    }
    .menu{
        a{
            &:hover{
                color:$blue-primary !important;
            }
            color:$blue-primary !important;
        }
    }
    .box{
        background:$hover !important;
        h3{
            color:$primary-text !important;
        }
        p{
            color:$blue-secondary !important;
        }

    }
    .cursor{
        background:$primary-text;
    }
    .cursor-follower{
        border-color:$primary-text;
        background:transparent;
    }
    .degrees,.jobs{
        background-color: $hover !important; 
        h5,h4{
            color:$primary-text;
        }
        p{
            color:$blue-primary!important;
        }
    }
    .recentWork{
        .work{
            box-shadow:none !important;
        }
    }
    .sayHi{
        input, textarea{
            background:$menue !important;
            color:$primary-text !important;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $primary-text;
                opacity: 1; /* Firefox */
              }
        }
        h3, p {
            color:$primary-text !important;
        }
        .btn{
            background: $blue-secondary !important;
            color:$background !important;
        } 
    }
}
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
    height:100vh;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    }
    .shape-one {
        width: 30px;
        height: 30px;
        top: 4%;
        right: 22%;
        position: absolute;
        animation: animationFramesTwo 15s infinite linear;
        overflow: hidden;
        vertical-align: middle;
        z-index: 5;
        @include media("<tablet") { 
            animation:none;
            transition:none;
        }
    }
    .shape-2{
        left: 5%;
        top: 62%;
        animation: animationFramesTwo 20s infinite ease reverse;
        @include media("<tablet") { 
            animation:none;
            transition:none;
        }
    }
    .shape-3{
        right: 20%;
        top: 40%;
        width:40px;
        height: 40px;
        animation: animationFramesTwo 10s infinite ease reverse;
            @include media("<tablet") { 
        animation:none;
        transition:none;
    }
    }
    .shape-4{
        right: 20%;
        top: 80%;
        width:20px;
        animation: animationFramesTwo 30s infinite ease-in-out reverse;
        @include media("<tablet") { 
            animation:none;
            transition:none;
        }
    }
    @keyframes animationFramesTwo{
        0% {
            transform: translate(0px,0px) rotate(0deg) scale(1);
        }
        20% {
            transform: translate(73px,-1px) rotate(36deg) scale(.9);
        }
        40% {
            transform: translate(141px,72px) rotate(72deg) scale(1);
        }
        60% {
            transform: translate(83px,122px) rotate(108deg) scale(1.2);
        }
        80% {
            transform: translate(-40px,72px) rotate(144deg) scale(1.1);
        }
        100% {
            transform: translate(0px,0px) rotate(0deg) scale(1);
        }
}
header{
    opacity: 0.8;
    height: 120vh;
    background: ghostwhite;
    background: radial-gradient(circle at 49% 51%,rgba(149,176,249,1), rgba(149,176,249,0) 50%), radial-gradient(circle at 10% 10%,rgba(153,255,255,1), rgba(153,255,255,0) 50%), radial-gradient(circle at 90% 10%,rgba(153,102,255,1), rgba(153,102,255,0) 50%), radial-gradient(circle at 90% 90%,rgba(153,255,255,1), rgba(153,255,255,0) 50%), radial-gradient(circle at 10% 90%,rgba(153,102,255,1), rgba(153,102,255,0) 50%) ;
    section{
        height: 70%;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 60px;
        color: white;
        position: absolute;
        z-index: 5555;
        width:90%;
        @include media("<phone") { 
            display:none;
            .toggle{
                display:block !important;
            }
        }
        a{
            color: white;
            text-decoration: none;

        }
        .menu{
            letter-spacing: 2px;
            a{
                margin-right: 10px;
                transition: all .5s;
                &:hover{
                    color:$dark_blue;
                }
            }

        }
    }
    .title{
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: flex-start;
        flex-direction: column;
        .header-text{
            margin-left: 10vw;
            color: white;
            font-size: 4rem;
            font-weight: 700;
            @include media("<phone") { 
                font-size:2rem;
            }
            &::before{
                content: url(../img/white_stripes.svg);
                width: 11vw;
                position: absolute;
                left: 85px; 
            }
            h2{
                @include media(">phone", "<=tablet") { 
                    font-size:3rem;
                }
            }
            h6{
                @include media(">phone", "<=tablet") { 
                    font-size:2rem;
                }
            }
            h4{
                @include media(">phone", "<=tablet") { 
                    font-size:2rem;
                }
            }
        }
        .header-contact-icons{
            display:flex;
            color:white;
            margin-left: 10vw;
            padding-top: 10px;
            justify-content: space-between;
            width:15%;
            a{
                text-decoration: none;
                color:white;
                img{
                    cursor: pointer;
                    @include media ("<tablet"){
                        margin-inline:1rem;
                    }
                }
            }
        }
        h5{
            color: white;
            margin-left: 10vw;
            padding-top: 10px;
        }
        .div-animation{
            position:absolute;
            top:16vh;
            right:5rem;
            width: 35%;
            width: 500px !important;
            @include media(">phone", "<=tablet") { 
                width:50vw !important;
            }
            @include media("<phone") { 
                position:relative;
                width: 100vw !important;
                top: -1vh;
                right: 0px;
                width:90%;
            }
        }
        .av{
            position: absolute;
            color: white;
            bottom: 5%;
            left: 4vw;
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;
            &::before{
                content:"o";
                color: white;
            }
        }
        .big-stripes {
            position: absolute;
            width: 250px;
            z-index: 0;
            right: 0px;
            bottom: 0px;
            opacity: .7;
        }
    }
    .hero-cube {
        position: absolute;
        top: 28%;
        right: 6%;
        transform: rotate(0deg);
        z-index: 0;
        transition: all .5s ease;
        .hero-picture{
            width: 50%;
        }
    }
    .hero-cube-2 {
        position: absolute;
        top: 58%;
        right: -10%;
        z-index: 0;
        .hero-picture-2{
            width: 50%;
            }
        }      
    }
}
@mixin btnBg {
    background-image: linear-gradient(to right, #9999ff 0%, #bdbdfa 51%, #9999ff 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius:50px;
    &:hover{
        background-position: right center;
    }
}
    
.hey{
    display:flex;
    flex-direction: row;
    color: $black_primary;
    height: 100vh;
    background:$ghost-color;
    position:relative;
    @include media("<tablet") { 
        display:flex;
        flex-direction: column;        
    }
    .light_blue{
        color: $light-blue;
        font-weight: bold;
    }
    .img{
        padding: 2vw;
        width:50%;  
        @include media("<phone") { 
            display: flex;
            justify-content:center ;
            align-item:center ;
            width:100%;
            height: 80%;;
        }
        .strips{
            position: relative;
            top: -23vh;
            width: 15vw;
            z-index: -55;
            left: 6vw;
            @include media("<phone") { 
                display:none;
            }
        }
        .cvImg{
            width: 23vw;
            position: relative;
            top: 26vh;
            z-index: 555;
            @include media("<phone") { 
                width:60vw;
                top: initial;
            }
        }
    }
    .txt{
        padding: 2vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        @include media("<phone") { 
            align-items: center;
        }
        h1{
            padding-bottom: 20px;
            font-size: 4rem;
            &::before{
                content: url(../img/stripes.svg);
                position: relative;
                top: 122px;
                left: -80px;
                /* background-color: red; */
                z-index: -5;
            }
        }
        p{
            width: 80%;
            font-weight: 200;
            font-size: 0.8em;
        }
        button{
            width: 40%;
            color: white;
            border: none;
            outline: none;
            height: 7vh;
            margin-top: 6vh;
            cursor: pointer;
            
            @include btnBg();
            a{
                text-decoration: none;
                color:white;
            }
            @include media(">phone", "<=tablet") { 
                font-size:x-small;
            }
            @include media("<phone") {
                font-size:11px;
            }
            
        }
    }
}
.mywork{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    $width:400px;
    $height:400px;
    background:$ghost-color;
    position: relative;
    @include media("<phone") {
        flex-direction: column;
        align-items: center;
        height:100vh;
    }
    .strips{
        position: absolute;
        left: 20px;
        width: 200px;
        z-index: -1;
    }
    .topStrips{
        z-index: +66;
        left: auto;
        right: 150px;
        top:300px;
        width: 130px;
    }
    .project{
        width: $width;
        height: $height;
        background-image: url(../img/mesh-works-small.png);
        background-position: initial;
        background-size: cover;
        border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
        transition: all 2s ease;
        animation: border 8s both infinite ;
        box-shadow: 0 10px 20px #32325d1a;
        @include media("<tablet") { 
            animation:none;
            transition:none;
        }
        @include center();
        &:hover{
            box-shadow:  0 10px 30px #2d2d4a48; 
            transform: translateY(-30px);
        }
        @keyframes border {
            0%{border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;}
            50%{border-radius: 66% 34% 63% 37% / 71% 71% 29% 29%;}
            100%{border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%}
        }
        @include media(">phone", "<=tablet") { 
           width:40vw;
           height:40vw;
        }
        @include media("<phone") {
            width:80vw;
            height: 80vw;
            margin-block: 4vh;
        }
    .h3{
        color: $black_primary;
        padding-bottom: 20px;
        @include media(">phone", "<=tablet") { 
            font-size:small;
         }
    }
    .p{
        width: 70%;
        color: $black_secondary;
        text-align: center;
        padding-bottom: 30px;
        @include media(">phone", "<=tablet") { 
            font-size:small;
         }
    }
    .btn{
        width: 40%;
        height: 6vh;
        text-align: center;
        color: #fff;
        border:none;
        outline: none;
        @include center();
        @include btnBg();
        flex-direction: row;
        cursor: pointer;
        font-size: 0.8rem;
        a{
            text-decoration: none;
            color: #fff;
        }
        @include media(">phone", "<=tablet") { 
            font-size:x-small;
        }
        @include media("<phone"){
            font-size: 0.8rem;
        }
    }
}

    .cv{
        width: $width;
        height: $height;
        background: white;
        @include center();
        border-radius: 44% 56% 27% 73% / 53% 36% 64% 47%;
        transition: all 2s ease;
        animation: brdr 8s both infinite;

        @include media("<tablet") { 
            animation:none;
            transition:none;
        }
        a{
            text-decoration: none;
            color: #fff;
        }
        box-shadow: 0 10px 20px #32325d1a;
        &:hover{
            box-shadow:  0 10px 30px #2d2d4a48; 
            transform: translateY(-30px);
        }
        @include media(">phone", "<=tablet") { 
            width:40vw;
            height:40vw;
         }
         @include media("<phone"){
            width:80vw;
            height: 80vw;
            margin-block: 4vh;
         }
        @keyframes brdr {
            0%{border-radius: 40% 60% 19% 81% / 54% 25% 75% 46% ;}
            50%{border-radius:  60% 40% 64% 36% / 40% 59% 41% 60%  ;}
            100%{border-radius: 40% 60% 19% 81% / 54% 25% 75% 46% }
        }
        .h3{
            color: $black_primary;
            padding-bottom: 20px;
            @include media(">phone", "<=tablet") { 
            font-size:small;
         }
        }
        .p{
            width: 70%;
            color: $black_secondary;
            text-align: center;
            padding-bottom: 30px;
            @include media(">phone", "<=tablet") { 
                font-size:small;
             }
        }
        .btn{
            width: 40%;
            height: 6vh;
            text-align: center;
            color: #fff;
            border:none;
            outline: none;
            border-radius: 50px;
            @include center();
            @include btnBg();

            flex-direction: row;
            cursor: pointer;
            @include media(">phone", "<=tablet") { 
                font-size:x-small;
             }
             @include media("<phone"){
                font-size: 0.8rem;
             }
        } 
    } 
}  
.skills{
    height: 80vh;
    text-align: center;
    padding: 2vh;
    background-color: $ghost-color;
    position: relative;
  
    @include media("<phone"){
      height:initial;
    }
    &__dots{
        left:155px !important;
        top:80px !important;
        @include media("<phone"){
            left:20px;
        }
    }
    &__title{
        color:$black_primary;
        left: 8vw;
        font-size:4rem;
        font-weight: bold;
        text-align:left;
        &:hover{
            color:white;
            z-index: 9461364979;
        }
    }
    &__container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 2%;
        &-skill{
            width: 8vw;
            padding: 2% 3% 2% 3%;
            height: 17vh;
            @include media("<phone"){
                width:17vw;

            }
        }
        .skills-img{
            width:8vw;
            transition: all 1s ;
            &:hover{
                filter: drop-shadow(0px 19px 14px #1532481f);
                transform: translatey(-20px);
            }
            @include media("<phone"){
              width:100%;
            }
        }
    }
    .circle{
        position:relative;
        z-index: 55;
        top: -134px;
        left: -20px;
        @include media("<=tablet") { 
            display: none;
        }
        &:hover{
            .html{
                stroke-dasharray:400;
                stroke-dashoffset:0;
            }
            .css{                
                stroke-dasharray:350;
                stroke-dashoffset:0;
            }
            .js{                
                stroke-dasharray:320;
                stroke-dashoffset:0;
            }
            .git {                
                stroke-dasharray:220;
                stroke-dashoffset:0;
            }
            .react {                
                stroke-dasharray:320;
                stroke-dashoffset:0;
            }
            .veu {                
                stroke-dasharray:220;
                stroke-dashoffset:0;
            }
            .api {                
                stroke-dasharray:220;
                stroke-dashoffset:0;
            }
            .sass {                
                stroke-dasharray:350;
                stroke-dashoffset:0;
            }
            .jQuery {                
                stroke-dasharray:350;
                stroke-dashoffset:0;
            }
            .bootstrap {                
                stroke-dasharray:400;
                stroke-dashoffset:0;
            }
        }
      }
      .effect{
        stroke-dasharray:630;
        stroke-dashoffset:630;
        transition: ease-out 0.5s;
      }
}
.experince{
    background-color: $ghost-color;
    h1{
        color:$black_primary;
        font-weight: bold;
        padding: 16vh 5vh 3vw 23vh;
        font-size:3rem;
        @include media("<phone"){
            padding: 17vh 8vh 3vw 6vh;
        }
    }
    .boxes{
        display:flex;
        padding: 0 10vw;
        background: url("../img/bg-shape.svg") center center/contain no-repeat;
        height:100vh;
        @include media("<phone") { 
            flex-direction: column;
            height: initial;
         }
        .degrees{
            width:40%;
            border-radius: 20px;
            background-color: white;
            box-shadow: 1px 5px 8px 4px #4700493a;
            margin:2vw;
            padding: 2vw;
            height:60%;
            @include media("<phone") { 
                width:88%;
             }
        }
        .element{
            color:$black_primary;
            padding: 4px 0vw;
            span{
                color:$gray;
                font-weight: 500;
                padding-left:9px;

            }
            .element-title{
                img{
                    padding-right:5px;
                    @include media("<phone"){
                        margin-right:5px;
                        width:15px;
                    }
                }
                display:flex;
                align-items: center;
            }
            .border{
                border-left:1.7px solid $purple-primary;
                padding-left:2vw;
                margin-left: 1vw;
                padding-bottom: 1.4vw;
                @include media("<phone"){
                    padding-left:20px;
                }
                p{
                    padding-bottom: 0.5rem;
                    padding-top:0.5rem;
                    color:$black_secondary;
                }
            }
        }
        .jobs{
            width:40%;
            border-radius: 20px;
            background-color: white;
            background-color: white;
            box-shadow: 1px 5px 8px 4px #4700493a;
            margin:2vw;
            padding:2vw;
            height:60%;
            @include media("<phone") { 
                width:88%;
             }
        }
    }
}

.shape-img-div{
    position:absolute;
    width: 50vw;
    height: 0vh;
    z-index:1;
    top:13vw;
    img{
        width:100%;
        position: absolute;
        width: 100%;
        top:10vh;
        right: -79vw;
    }
}
.recentWork{
    position:relative;
    background-color: $ghost-color;
    position: relative;
    overflow-x: hidden;
    .rec_title{
        left: 6vw;
        top: 14px;
        @include media(">phone", "<=tablet") { 
            left: 9vw;
            top: 18px;
        }
    }
    .rec__dots{
        top:100px;
    }
    &__title{
        padding: 8vh 0 9vh 5vw;
        font-size:3rem;
        color:$black_primary; 
        z-index: 6;
        position:relative
    }
    &__dots{
        position:relative;    z-index: 6;
        top: 14px;
        left: 140px;
        width: 30px;
        opacity: 20%;

        @include media("<phone"){
            left:20px;        }
        &-img{
            width:40px;
        }
    }
    .works{
        display:flex;
        padding:2vw 10vw;
        flex-wrap: wrap;    z-index: 6;
        position:relative;  

        .work{
            width: 23vw;
            height: 23vw;
            background: white;
            box-shadow: 5px 5px 11px 0px #c5c5c5;
            margin: 1vw;
            border-radius: 10px ;
            background: #fff url(../img/work.png) center center/contain no-repeat;
            @include media("<phone"){
            width:80vw;
            height:80vw;
            margin-block:2rem;
            }
        }
            :nth-child(1){
                background: #fff url(../img/website-1.jpg) center center/contain no-repeat;
            }
            :nth-child(2){
                background: #fff url(../img/website-2.jpg) center center/contain no-repeat;
            }
            :nth-child(3){
                background: #fff url(../img/website-3.jpg) center center/contain no-repeat;
            }
            :nth-child(4){
                background: #fff url(../img/website-4.jpg) center center/contain no-repeat;
            }
    }
    .showMoreDiv{
        display:flex;
        align-items: center;
        justify-content: center;
        .showMore{
            @include media(">phone", "<=tablet") { 
                font-size:x-small;
            }
            text-align: center;
            border:none;
            outline: none;
            text-align: center;
            @include btnBg();
            color:white;
            cursor: pointer;
            margin:20px;
            padding:10px;

        }
    }
}


.sayHi{
    background-color:$ghost-color;
    height:100vh;
    padding:2vw;
    position: relative;
    .container{
        display:flex;
        padding:2vw;
        padding-left:10vw;
        @include media(">phone", "<=tablet") {
            padding-left:0px;
         }
        @include media("<phone"){
            flex-direction: column;
            padding-left:0vw;
        }
        .text{
            width:20vw;
            padding-top:3rem;
            @include media(">phone", "<=tablet") {
                width: 40vw;
             }
            @include media("<phone"){
                width: 100vw;
                padding-top: 0rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
            }
            h3{
                color:$black_primary;

            }
            p{
                color:$black_primary;
                a{
                    color:$purple-primary;
                    text-decoration: none;
                }
            }
        }
        .form{
            width:65vw;
            position:relative;
            z-index:888;
            padding-left:4vw;
            input, textarea{
                width: 18.4vw;
                font-size: 1rem;
                height: 7vh;
                margin: 1vw;
                background: white;
                color: #939199;
                border-radius: 50px;
                padding: 2px;
                padding-left: 25px;
                box-shadow: 1px 1px 10px 1px #b7b6b62e;
                border: none;
                @include media("<phone"){
                    width: 70vw;
                }
                &:focus-visible{
                    border:none;
                    outline:none;
                }
            }
            textarea{
                padding-top:1rem
            }
            .Subject, .message{
                width: 65%;
                @include media(">phone", "<=tablet") {
                    width:44vw;
                 }
                @include media("<tablet"){
                    width: 70% ;
                }
            }
            .message{
                height:20vh;
                border-radius:20px;
            }
            .btn{
                @include btnBg();
                color:white;
                cursor:pointer;
                padding-left: initial;
            }
        }
    }
    .getInTouch{
        &_title{
            padding: 0vh 0 6vh 12vw;
        }
        &__dots{
            top:40px;
        }
    }
    
}